############################################################
# Repository Owner: @riskalyze/design
############################################################

* @riskalyze/design
.github/CODEOWNERS @riskalyze/codeowners

