.rc-calendar {
  box-shadow: 1px 1px 0 #ccc;
  background: #ffffff;
  border: 1px solid #9bc0e0;
  width: 215px;
  outline: none;
  position: relative;
}
.rc-calendar a {
  text-decoration: none;
  cursor: pointer;
}
.rc-pop-up-calendar {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
.rc-calendar-hidden {
  display: none;
}
.rc-pop-up-calendar-hidden {
  display: block;
  visibility: hidden;
  left: -9999px;
  top: -9999px;
}
.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn,
.rc-calendar-prev-year-btn,
.rc-calendar-next-year-btn,
.rc-calendar-header {
  background-image: url('//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png');
}
.rc-calendar-header {
  background-repeat: repeat-x;
  background-position: 0 -240px;
  height: 26px;
  line-height: 26px;
  position: relative;
  text-align: center;
}
.rc-calendar-prev-month-btn,
.rc-calendar-next-month-btn,
.rc-calendar-prev-year-btn,
.rc-calendar-next-year-btn {
  text-indent: -9999px;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 2px;
}
.rc-calendar-prev-month-btn {
  background-position: 0 -60px;
  left: 24px;
}
.rc-calendar-prev-month-btn:hover {
  background-position: 0 -80px;
}
.rc-calendar-prev-year-btn {
  background-position: 0 -180px;
  left: 0;
}
.rc-calendar-prev-year-btn:hover {
  background-position: 0 -200px;
}
.rc-calendar-next-month-btn {
  background-position: 0 0;
  right: 24px;
}
.rc-calendar-next-month-btn:hover {
  background-position: 0 -20px;
}
.rc-calendar-next-year-btn {
  background-position: 0 -120px;
  right: 0;
}
.rc-calendar-next-year-btn:hover {
  background-position: 0 -140px;
}
.rc-calendar-month-select {
  color: #ffffff;
  line-height: 26px;
  border: 1px solid transparent;
}
.rc-calendar-month-select-arrow {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  vertical-align: middle;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
  border-bottom-width: 0px;
}
.rc-calendar-month-select:hover .rc-calendar-month-select-arrow {
  border-top-color: #f0ff00;
}
.rc-calendar-month-select:hover {
  color: #f0ff00;
  border: 1px solid #8cc6ff;
  background: url('//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png');
  background-position: 0 -268px;
}
.rc-calendar-week-number-cell {
  text-align: center;
  line-height: 22px;
}
.rc-calendar-week-number-header {
  text-indent: -9999px;
}
.rc-calendar-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.rc-calendar-column-header {
  width: 25px;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 4px 0;
}
.rc-calendar-column-header-inner {
  display: block;
  padding-bottom: 4px;
  border-bottom: 1px dashed #c9c9c9;
}
.rc-calendar-cell {
  text-align: center;
}
.rc-calendar-date {
  color: #004499;
  line-height: 22px;
  text-decoration: none;
  display: block;
  border-radius: 2px;
  border: 1px solid transparent;
  outline: none;
}
.rc-calendar-last-month-cell .rc-calendar-date,
.rc-calendar-next-month-btn-day .rc-calendar-date {
  color: #bfbfbf;
}
.rc-calendar-date:hover {
  background-color: #f3f9ff;
  border-color: #88b1ea;
}
.rc-calendar-disabled-cell .rc-calendar-date {
  cursor: default;
}
.rc-calendar-disabled-cell .rc-calendar-date:hover {
  border-color: transparent;
}
.rc-calendar-today .rc-calendar-date {
  color: #357c00;
  border-color: #7dba4e;
}
.rc-calendar-selected-day .rc-calendar-date {
  color: #fff;
  background-color: #4187e7;
  border-color: #4187e7;
}
.rc-calendar-footer {
  padding: 3px 0;
  background-color: #f5f5f5;
  text-align: center;
}
.rc-calendar-today-btn,
.rc-calendar-clear-btn {
  line-height: 16px;
  height: 16px;
  margin: 0 3px 0 2px;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  background-color: #4187e7;
  color: #ffffff;
  border-color: #3375cf;
  display: inline-block;
}
.rc-calendar-today-btn:hover,
.rc-calendar-clear-btn:hover {
  color: #ffffff;
}
.rc-calendar-decade-panel {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
  position: absolute;
  background: #ffffff;
  outline: none;
  border-bottom: 1px solid #9bc0e0;
}
.rc-calendar-decade-panel-hidden {
  display: none;
}
.rc-calendar-decade-panel-prev-century-btn,
.rc-calendar-decade-panel-next-century-btn,
.rc-calendar-decade-panel-header {
  background: url('//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png');
}
.rc-calendar-decade-panel-header {
  background-repeat: repeat-x;
  background-position: 0 -240px;
  height: 26px;
  position: relative;
  text-align: center;
}
.rc-calendar-decade-panel-prev-century-btn,
.rc-calendar-decade-panel-next-century-btn {
  text-indent: -9999px;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 2px;
}
.rc-calendar-decade-panel-prev-century-btn {
  background-position: 0 -60px;
  left: 0;
}
.rc-calendar-decade-panel-prev-century-btn:hover {
  background-position: 0 -80px;
}
.rc-calendar-decade-panel-century {
  color: #ffffff;
  line-height: 26px;
  text-decoration: none;
}
.rc-calendar-decade-panel-next-century-btn {
  background-position: 0 0;
  right: 0;
}
.rc-calendar-decade-panel-next-century-btn:hover {
  background-position: 0 -20px;
}
.rc-calendar-decade-panel-table {
  margin-top: 5px;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.rc-calendar-decade-panel-cell {
  text-align: center;
  height: 42px;
  vertical-align: middle;
}
.rc-calendar-decade-panel-decade {
  line-height: 20px;
  color: #004499;
  text-decoration: none;
  display: block;
  border-radius: 2px;
  border: 1px solid transparent;
}
.rc-calendar-decade-panel-decade:hover {
  background-color: #f3f9ff;
  border-color: #88b1ea;
}
.rc-calendar-decade-panel-selected-cell .rc-calendar-decade-panel-decade {
  color: #fff;
  background-color: #4187e7;
  border-color: #4187e7;
}
.rc-calendar-decade-panel-last-century-cell .rc-calendar-decade-panel-decade,
.rc-calendar-decade-panel-next-century-cell .rc-calendar-decade-panel-decade {
  color: #bfbfbf;
}
.rc-calendar-month-panel {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: #ffffff;
  position: absolute;
  outline: none;
  border-bottom: 1px solid #9bc0e0;
}
.rc-calendar-month-panel-hidden {
  display: none;
}
.rc-calendar-month-panel-prev-year-btn,
.rc-calendar-month-panel-next-year-btn,
.rc-calendar-month-panel-header {
  background: url('//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png');
}
.rc-calendar-month-panel-header {
  background-repeat: repeat-x;
  background-position: 0 -240px;
  height: 26px;
  position: relative;
  text-align: center;
}
.rc-calendar-month-panel-prev-year-btn,
.rc-calendar-month-panel-next-year-btn {
  text-indent: -9999px;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 2px;
}
.rc-calendar-month-panel-prev-year-btn {
  background-position: 0 -60px;
  left: 0;
}
.rc-calendar-month-panel-prev-year-btn:hover {
  background-position: 0 -80px;
}
.rc-calendar-month-panel-year-select {
  color: #ffffff;
  line-height: 26px;
  text-decoration: none;
  border: 1px solid transparent;
}
.rc-calendar-month-panel-year-select-arrow {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  vertical-align: middle;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
}
.rc-calendar-month-panel-year-select:hover .rc-calendar-month-panel-year-select-arrow {
  border-top-color: #f0ff00;
}
.rc-calendar-month-panel-year-select:hover {
  color: #f0ff00;
  border: 1px solid #8cc6ff;
  background: url('//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png') 0 -268px;
}
.rc-calendar-month-panel-next-year-btn {
  background-position: 0 0;
  right: 0;
}
.rc-calendar-month-panel-next-year-btn:hover {
  background-position: 0 -20px;
}
.rc-calendar-month-panel-table {
  margin-top: 5px;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.rc-calendar-month-panel-cell {
  text-align: center;
}
.rc-calendar-month-panel-month {
  color: #004499;
  line-height: 42px;
  text-decoration: none;
  display: block;
  border-radius: 2px;
  border: 1px solid transparent;
}
.rc-calendar-month-panel-month:hover {
  background-color: #f3f9ff;
  border-color: #88b1ea;
}
.rc-calendar-month-panel-selected-cell .rc-calendar-month-panel-month {
  color: #fff;
  background-color: #4187e7;
  border-color: #4187e7;
}
.rc-calendar-year-panel {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  background: #ffffff;
  position: absolute;
  outline: none;
  border-bottom: 1px solid #9bc0e0;
}
.rc-calendar-year-panel-hidden {
  display: none;
}
.rc-calendar-year-panel-prev-decade-btn,
.rc-calendar-year-panel-next-decade-btn,
.rc-calendar-year-panel-header {
  background: url('//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png');
}
.rc-calendar-year-panel-header {
  background-repeat: repeat-x;
  background-position: 0 -240px;
  height: 26px;
  position: relative;
  text-align: center;
}
.rc-calendar-year-panel-prev-decade-btn,
.rc-calendar-year-panel-next-decade-btn {
  text-indent: -9999px;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 2px;
}
.rc-calendar-year-panel-prev-decade-btn {
  background-position: 0 -60px;
  left: 0;
}
.rc-calendar-year-panel-prev-decade-btn:hover {
  background-position: 0 -80px;
}
.rc-calendar-year-panel-decade-select {
  color: #ffffff;
  line-height: 26px;
  text-decoration: none;
}
.rc-calendar-year-panel-decade-select-arrow {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  vertical-align: middle;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #ffffff;
}
.rc-calendar-year-panel-decade-select:hover .rc-calendar-year-panel-decade-select-arrow {
  border-top-color: #f0ff00;
}
.rc-calendar-year-panel-decade-select:hover {
  color: #f0ff00;
  border: 1px solid #8cc6ff;
  background: url('//gtms04.alicdn.com/tps/i4/TB1.L9bFVXXXXbAXpXXDM4qIXXX-19-300.png');
  background-position: 0 -268px;
}
.rc-calendar-year-panel-next-decade-btn {
  background-position: 0 0;
  right: 0;
}
.rc-calendar-year-panel-next-decade-btn:hover {
  background-position: 0 -20px;
}
.rc-calendar-year-panel-table {
  margin-top: 5px;
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
}
.rc-calendar-year-panel-cell {
  text-align: center;
}
.rc-calendar-year-panel-year {
  color: #004499;
  line-height: 42px;
  text-decoration: none;
  display: block;
  border-radius: 2px;
  border: 1px solid transparent;
}
.rc-calendar-year-panel-year:hover {
  background-color: #f3f9ff;
  border-color: #88b1ea;
}
.rc-calendar-year-panel-selected-cell .rc-calendar-year-panel-year {
  color: #fff;
  background-color: #4187e7;
  border-color: #4187e7;
}
.rc-calendar-year-panel-last-decade-cell .rc-calendar-year-panel-year,
.rc-calendar-year-panel-next-decade-cell .rc-calendar-year-panel-year {
  color: #bfbfbf;
}
