.@{prefixClass}-range {
  width: 524px;
  overflow: hidden;

  &-part {
    width: 250px;
    position: relative;
  }

  &.@{prefixClass}-week-number {
    width: 574px;

    .@{prefixClass}-range-part {
      width: 286px;
    }
  }

  &-left {
    float: left;
  }

  &-right {
    float: right;
  }

  .@{prefixClass}-in-range-cell {
    background: #ebf4f8;
    border-radius: 0;
  }
}
