.@{prefixClass}-range {
  width: 502px;
  overflow: hidden;

  &-part {
    width: 250px;
    position: relative;
  }

  &.@{prefixClass}-week-number {
    width: 574px;

    .@{prefixClass}-range-part {
      width: 286px;
    }
  }

  &-left {
    float: left;
  }

  &-right {
    float: right;
  }

  &-middle {
    position: absolute;
    left: 50%;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    height: 35px;
    line-height: 35px;
  }

  .@{prefixClass}-in-range-cell {
    background: #ebf4f8;
    border-radius: 0;
  }
}
